%p Hello
%form{ :action => "/instructors", :method => "post"}
  %fieldset
    %ol
      %li
        %label{:for => "instructor"} Name:
        %input{:type => "text", :name => "name", :class => "field"}
      %li
        %label{:for => "bio"} Biography:
        %textarea{:name => "body"}
      %li
        %label{:for => "specialties"} Specialties:
        %input{:type => "text", :name => "name", :class => "field"}
    %input{:type => "submit", :value => "Send", :class => "button"}

